﻿@{
    ViewBag.Title = "Home Page";
}
<div class="page-header">
	<h1>
		<a href="#">Dashboard</a>
		@*<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			overview &amp; stats
		</small>*@
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="text-center">
			<h1 class="display-4">Welcome</h1>
			<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
		</div>

		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
