﻿@{
	ViewBag.Title = "Login Page";
	Layout = "_LoginLayout";
}
<div id="login-box" class="login-box visible widget-box no-border">
	<div class="widget-body">
		<div class="widget-main">
			<h4 class="header blue lighter bigger">
				<i class="ace-icon fa fa-coffee green"></i>
				Please Enter Your Information
			</h4>

			<div class="space-6"></div>

			<form name="loginForm">
				<fieldset>
					<label class="block clearfix">
						<span class="block input-icon input-icon-right">
							<input type="text" class="form-control" id="Username" name="Username" placeholder="Username" />
							<i class="ace-icon fa fa-user"></i>
						</span>
					</label>

					<label class="block clearfix">
						<span class="block input-icon input-icon-right">
							<input type="password" class="form-control" id="Password" name="Password" placeholder="Password" />
							<i class="ace-icon fa fa-lock"></i>
						</span>
					</label>

					<div class="space"></div>

					<div class="clearfix">
						<button type="submit" id="login-submit" class="width-35 pull-right btn btn-sm btn-primary">Sign in</button>
					</div>

					<div class="space-4"></div>
				</fieldset>
			</form>

		</div><!-- /.widget-main -->

		<div class="toolbar clearfix">
			<div>
				<a href="#" data-target="#forgot-box" class="forgot-password-link">
					<i class="ace-icon fa fa-arrow-left"></i>
					I forgot my password
				</a>
			</div>

			@*<div>
				<a href="#" data-target="#signup-box" class="user-signup-link">
					I want to register
					<i class="ace-icon fa fa-arrow-right"></i>
				</a>
			</div>*@
		</div>
	</div><!-- /.widget-body -->
</div><!-- /.login-box -->

<div id="forgot-box" class="forgot-box widget-box no-border">
	<div class="widget-body">
		<div class="widget-main">
			<h4 class="header red lighter bigger">
				<i class="ace-icon fa fa-key"></i>
				Retrieve Password
			</h4>

			<div class="space-6"></div>
			<p>
				Enter your email and to receive instructions
			</p>

			<form>
				<fieldset>
					<label class="block clearfix">
						<span class="block input-icon input-icon-right">
							<input type="email" class="form-control" placeholder="Email" />
							<i class="ace-icon fa fa-envelope"></i>
						</span>
					</label>

					<div class="clearfix">
						<button type="button" class="width-35 pull-right btn btn-sm btn-danger">
							<i class="ace-icon fa fa-lightbulb-o"></i>
							<span class="bigger-110">Send Me!</span>
						</button>
					</div>
				</fieldset>
			</form>
		</div><!-- /.widget-main -->

		<div class="toolbar center">
			<a href="#" data-target="#login-box" class="back-to-login-link">
				Back to login
				<i class="ace-icon fa fa-arrow-right"></i>
			</a>
		</div>
	</div><!-- /.widget-body -->
</div><!-- /.forgot-box -->

<script>
$(function(){
	var submitLogin = "login-submit";
	$('form[name="loginForm"]').submit(function (e) {
		e.preventDefault();
		var data={Username:$('#Username').val(),Password:$('#Password').val()};
			loadingForm(true, submitLogin);
		$.ajax({
			url: "/account/login/on-post-ajax",
			data: JSON.stringify(data),
            type: 'post',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
			success: function (result) {
				if (result.success) {
					loadingForm('default', submitLogin, result.message);
				window.location.href = result.urlResponse;
				} else {
					swallAllert.Error("Login Failed!", result.message)

					loadingForm(false, submitLogin, "Sign In");
				}
			},
			error: function (err) {
				console.log(err);
				swallAllert.Error(500, "Something wrong when login!");
				loadingForm(false, submitLogin, "Sign In");
			}
		});
	});
});
</script>