﻿<ul class="nav nav-list">
	<li class="">
		<a asp-controller="Home" asp-action="Index">
			<i class="menu-icon fa fa-tachometer"></i>
			<span class="menu-text"> Dashboard </span>
		</a>

		<b class="arrow"></b>
	</li>

	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-folder"></i>
			<span class="menu-text">
				Master
			</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			
			<li class="">
				<a href="#">
					<i class="menu-icon fa fa-caret-right"></i>
					Master menu 1
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="#">
					<i class="menu-icon fa fa-caret-right"></i>
					Master menu 2
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>

	<li class="">
		<a href="#">
			<i class="menu-icon fa fa-folder"></i>
			<span class="menu-text"> Menu Again </span>
		</a>

		<b class="arrow"></b>
	</li>
</ul><!-- /.nav-list -->
